
/* style.css
 *
 * Copyright 2020 Paulo Queiroz <pvaqueiroz@gmail.com>
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 * SPDX-License-Identifier: GPL-3.0-or-later
 */

button.wide { padding-left: 16px; padding-right: 16px; }
button.slim { padding-left: 0; padding-right: 0; }
button { outline: none; }

#statusbox {
    margin: 6px 0;
    transition: .1s;
    min-height: 24px;
    padding: 4px 2em 4px 12px;
    min-width: 20em;
    background: @theme_bg_color;
    border-radius: 5px;
    border: 1px solid @borders;
}

#statusbox > * {
    margin: 0;
    border-top: 0;
    border-bottom: 0;
}

#statusbox > *:first-child {
    border-left: 0;
}

#statusbox > *:last-child {
    border-right: 0;
}

#statusbox.hover {
    background: shade(@theme_bg_color, 0.9);
}

#statusbox.click {
    background: shade(@theme_bg_color, 0.8);
}

.panel-header {
    border-bottom: 1px solid darker(@theme_base_color);
}

.panel-header > button {
    padding-top: 1px;
    padding-bottom: 1px;
    border-radius: 0;
    border: 0;
    color: alpha(@theme_fg_color, .75);
    text-shadow: none;
    box-shadow: none;
}

.side-bar.left { border-right: 1px solid darker(@theme_base_color); }
.side-bar.right { border-left: 1px solid darker(@theme_base_color); }

.pause-button { border-radius: 0; border-right: none; }
