.base-color { background: @theme_base_color; }
.bg-color { background: @theme_bg_color; }

.bg-transparent { background: transparent; }

button { outline: 0; }
button.slim-button { padding-left: 1px; padding-right: 1px; }

stackswitcher > button {
	background: transparent;
	border: 0;
	border-bottom: 2px solid transparent;
	border-radius: 0;
	min-width: 0;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 2px 5px;
	box-shadow: none;
}

stackswitcher > button:checked {
  border-bottom-color: @theme_selected_bg_color;
}
stackswitcher > button:not(:checked):hover {
  border-bottom-color: alpha(@theme_selected_bg_color, .5);
}

.open-window .titlebar { background: @theme_bg_color; border-bottom: 0; }

.treeitem.selected > widget:first-child > box.horizontal {
    background-color: @theme_selected_bg_color;
}

.treeitem.selected > widget:first-child > box.horizontal,
.treeitem.selected > widget:first-child > box.horizontal label:backdrop {
    color: @theme_selected_fg_color;
}

.treeitem.modified > widget:first-child > box.horizontal,
.treeitem.modified > widget:first-child > box.horizontal label:backdrop { color: orange; }
.treeitem.untracked > widget:first-child > box.horizontal,
.treeitem.untracked > widget:first-child > box.horizontal label:backdrop { color: green; }
.treeitem.error > widget:first-child > box.horizontal,
.treeitem.error > widget:first-child > box.horizontal label:backdrop { color: red; }
